
.home-container {
    padding: 2rem;
    text-align: center;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .home-heading {
    font-size: 2.5rem;
    color: #333;
  }
  
  .home-paragraph {
    font-size: 1.2rem;
    color: #555;
  }

  .book img, .movie img {
    max-width: 500px;
    width: 100%;
  }
 .container {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
 }
 @media (max-width: 635px) {
  .container {
    flex-direction: column;
  }
  .book img, .movie img {
    width: 80%;
  }
 }
