.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-home a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 20px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 20px;
  }
  .menu-icon {
    display: none;
    margin-right: 20px;
    font-size: 2rem;
  }
  .navbar-links.active {
    display: flex;
    opacity: 1; /* Visible state */
  }
  @media (max-width: 640px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      background-color: #333333d2;
      padding: 1rem 0;
      height: 100vh;
      width: 200px;
      z-index: 1;
      
    }
    .menu-icon {
      display: block;
    }
    .navbar-links.active {
      display: flex;
    }
  }
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  .navbar-links a.active {
    color: #ffcc00; 
  }
  .navbar-home a.active {
    color: #ffcc00;
  
  }